body{
    background: rgba(25, 174, 219, 0.479);
    font: normal 15pt Arial;

}

header{
    color: honeydew;
    text-align: center;

}

section{
    background: ghostwhite;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);

    

}
input{
    border-radius: 5px;
}

footer{
    color: honeydew;
    text-align: center;
    font-style: italic;


}